/* Reset e recursos */
@import "./recursos.css";
@import "./reset.css";

/* Corpo */
body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-amarelo);
    color: var(--cor-texto-principal);
}

/* Cabeçalho */
header {
    background-color: var(--cor-azul);
    border-bottom: var(--borda);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 10;
}

header h1 {
    font-size: 2em;
    font-weight: 800;
    color: var(--cor-texto-principal);
}

/* Navegação */
nav {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.3em 0.6em;
    color: var(--cor-texto-principal);
    background-color: var(--cor-azul);
}

nav a:hover {
    text-decoration: underline;
}

/* Main */
main {
    max-width: 1200px;
    margin: auto;
    padding: 1em;
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
}

/* Seção */
section {
    background-color: var(--cor-fundo);
    box-shadow: 5px 5px var(--cor-texto-principal);
    border: var(--borda);
    padding: 1em;
    border-radius: 1.5em;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
    scroll-margin-top: 6em;

}

section h2 {
    background-color: var(--cor-rosa);
    font-size: 1.5em;
    font-weight: 600;
    margin: -1rem -1rem 1rem;
    padding: .3em .5em;
    border-radius: 1.5rem 1.5rem 0em 0em;
    border-bottom: var(--borda-botao);
}

section h3 {
    padding: .5em 0em .25em;
    border-bottom: var(--borda-botao);
}

/* Título da Seção */
section .titulo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
}

section .titulo img {
    max-height: 10em;
    min-height: 1em;
    width: auto;
}

section .titulo p {
    flex: 1 0 200px;
    align-self: self-start;
}

/* Conteúdo da Seção */
section .conteudo {
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
}

section .conteudo a {
    text-decoration: none;
    color: var(--cor-texto-principal);
}

section .conteudo a:hover {
    text-decoration: underline;
}

section .conteudo article {
    display: flex;
    flex-flow: column wrap;
    gap: .5em;
}

/* Links */
section .links {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;

} section .links h4 {
    font-size: 1em;
    font-weight: bold;
}

section .links a {
    flex: 1 0 16em;
    padding: .5em;
    text-decoration: none;
    color: var(--cor-texto-principal);
    border: var(--borda-botao);
    border-radius: .7em;
}

section .links a:hover {
    background-color: var(--cor-texto-principal);
    color: var(--cor-fundo);
}

/* Rodapé */
footer {
    padding: 2em 1em;
    background-color: var(--cor-rosa);
    border-top: var(--borda);
    text-align: center;
    color: var(--cor-texto-principal);
    font-size: 1em;
}

footer h2 {
    font-size: 1em;
    margin-bottom: 0.5em;
}

footer p {
    margin: 0.5em 0;
}

footer a {
    color: var(--cor-link);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: var(--cor-link-hover);
    text-decoration: underline;
}
