@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --cor-fundo: #FFFEFE;
  --cor-texto-principal: #1C1A1B;
  --cor-azul: #2C70F6;
  --cor-amarelo: #F8D245;
  --cor-rosa: #F1B8D8;

  --borda-espessura: 4px;
  --borda-espessura-botao: 2px;
  --borda: var(--borda-espessura) solid var(--cor-texto-principal);
  --borda-botao: var(--borda-espessura-botao) solid var(--cor-texto-principal);

  --pad-cantos: 1rem 2rem;

  --fonte-principal: 'DM Sans', sans-serif;
  --cor-texto: #111;
}